.listing-group {
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 600;
  position: absolute;
  bottom: 0px;
  right: 10px;
  z-index: 1;
  border-radius: 3px;
  color: #fff;
  right: 40%;
  background-color: #132E3E;
  opacity: 0.8;
}

.custom-buttom{
    background-color: #132E3E !important;
}

.active{
    background-color: white;
    opacity: 0.5;
    color: black;
    border-radius: 5px;
}