<ion-menu contentId="main-content">
  <ion-header >
    <ion-toolbar color="tertiary">
      <ion-title>Listado</ion-title>
      <ion-button
        shape="round"
        slot="end"
        color="dark"
        (click)="showLayers ? repaint() : removeAllLayer(); showLayers = !showLayers;"
      >
        <ion-icon [name]="showLayers ? 'eye' :'eye-off'" slot="end"></ion-icon>
        {{showLayers ? 'Mostrar' : 'Ocultar'}}
      </ion-button>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <app-layers-list></app-layers-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Mapbox - Inkremental</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true" *ngIf="_mapService.sourceCluster.data.features">
    <!-- <div class="map" id="map-box-container" ></div> -->
    <mgl-map
      [style]="_mapService.style "
      [zoom]="[2]"
      [center]="[_mapService.origin[0], _mapService.origin[1]]"
      [pitch]="[68]"
      (load)="onMapLoad($event)"
    >

    <mgl-layer
    [id]="_mapService.clusterlayer.id"
    [type]="_mapService.clusterlayer.type"
    [paint]="_mapService.clusterlayer.paint"
    [filter]="_mapService.clusterlayer.filter"
    [source]="_mapService.sourceCluster"
  >
  </mgl-layer>
  <mgl-layer
    [id]="_mapService.clusterCount.id"
    [type]="'symbol'"
    [filter]="_mapService.clusterCount.filter"
    [source]="_mapService.sourceCluster"
    [layout]="_mapService.clusterCount.layout"
  >
  </mgl-layer>
    </mgl-map>
  </ion-content>
</div>
