<div class="container">
  <nav id="listing-group" class="listing-group">
    <!-- <div class="title">
      <ion-label>CAPAS</ion-label>
    </div> -->
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>CAPAS</ion-col>
        <ion-col >
          <span class="close-button">X</span>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="item" *ngFor="let layer of layers">
      <!-- <input type="checkbox" [(ngModel)]="layer.selected" name="selected" (ngModelChange)="mapService.setVisibilityLayer(layer.selected,layer.id)"> -->
      <ion-checkbox slot="start" [(ngModel)]="layer.selected" (ngModelChange)="mapService.setVisibilityLayer(layer.selected,layer.id)"></ion-checkbox> 
      <ion-label slot="start" >{{layer.name}}</ion-label>
    </div>
    <!-- <div class="item" >
      <ion-checkbox slot="start" [(ngModel)]="showLabel" (ngModelChange)="mapService.showLabels()"></ion-checkbox> 
      <ion-label slot="start" >Mostrar propiedades de la capa</ion-label>
    </div> -->
  </nav>
</div>
