<nav id="listing-group" class="listing-group">
  <ion-item>
    <ion-label>CAPAS</ion-label>
  </ion-item>
  <input type="checkbox" id="scrollZoom" checked="checked" />
  <label for="scrollZoom">Scroll zoom</label>
  <input type="checkbox" id="boxZoom" checked="checked" />
  <label for="boxZoom">Box zoom</label>
  <input type="checkbox" id="dragRotate" checked="checked" />
  <label for="dragRotate">Drag rotate</label>
  <input type="checkbox" id="dragPan" checked="checked" />
  <label for="dragPan">Drag pan</label>
  <input type="checkbox" id="keyboard" checked="checked" />
  <label for="keyboard">Keyboard</label>
  <input type="checkbox" id="doubleClickZoom" checked="checked" />
  <label for="doubleClickZoom">Double click zoom</label>
  <input type="checkbox" id="touchZoomRotate" checked="checked" />
  <label for="touchZoomRotate">Touch zoom rotate</label>
</nav>
